
@font-face {
	font-family: 'Gautina'; font-style: normal; font-weight: 400;
	src: local(''), url('../fonts/gautina-240524-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Gautina'; font-style: normal; font-weight: 700;
	src: local(''), url('../fonts/gautina-240524-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Gautina'; font-style: italic; font-weight: 400;
	src: local(''), url('../fonts/gautina-240524-Italic.woff') format('woff');
}

:root {
	--gautina: 'Gautina', sans-serif;
}

.gautina { font-family: var(--gautina); }
.string.gautina-italic { font-family: var(--gautina); font-style: italic; }

.font__menu h1 {
	font-weight: 400;
}