/**
 * -------------------------------------------------------------
 * Loading fonts and styles for the typeface page
 * ------------------------------------------------------------- */

@font-face {
	font-family: 'Apium'; font-style: normal; font-weight: 300;
	src: local(''), url('../fonts/Apium-Light.woff') format('woff');
}

:root {
	--apium: 'Apium', serif;
}

.apium { font-family: var(--apium); }
.string.apium-italic { font-family: var(--apium); font-style: italic; }


.font__menu h1 {
	font-weight: 900;
}