@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/average/Average-240222-035-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/average/Average-240222-035-Medium.woff') format('woff'); 
}
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/average/Average-240222-035-Bold.woff') format('woff'); 
}
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/average/Average-240222-035-Black.woff') format('woff'); 
}
/*-------------------------------------------------------- 
 * Fonts - Apium
 * -------------------------------------------------------- */

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/apium/Apium-Light.woff2') format('woff2'), 
       url('../fonts/apium/Apium-Light.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('../fonts/apium/Apium-LightItalic.woff2') format('woff2'), 
       url('../fonts/apium/Apium-LightItalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/apium/Apium-Regular.woff2') format('woff2'), 
       url('../fonts/apium/Apium-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/apium/Apium-RegularItalic.woff2') format('woff2'), 
       url('../fonts/apium/Apium-RegularItalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/apium/Apium-Medium.woff2') format('woff2'), 
       url('../fonts/apium/Apium-Medium.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../fonts/apium/Apium-MediumItalic.woff2') format('woff2'), 
       url('../fonts/apium/Apium-MediumItalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/apium/Apium-Bold.woff2') format('woff2'), 
       url('../fonts/apium/Apium-Bold.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/apium/Apium-BoldItalic.woff2') format('woff2'), 
       url('../fonts/apium/Apium-BoldItalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/apium/Apium-Black.woff2') format('woff2'), 
       url('../fonts/apium/Apium-Black.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 900;
  src: local(''),
       url('../fonts/apium/Apium-BlackItalic.woff2') format('woff2'), 
       url('../fonts/apium/Apium-BlackItalic.woff') format('woff'); 
}

/*-------------------------------------------------------- 
 * Fonts - Gautina
 * -------------------------------------------------------- */

@font-face {
  font-family: 'Gautina';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/gautina/gautina-Regular.woff2') format('woff2'), 
       url('../fonts/gautina/gautina-Regular.woff') format('woff'); 
}


/*-------------------------------------------------------- 
 * Fonts - Tokkel
 * -------------------------------------------------------- */

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Thin.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Thin.woff') format('woff'); 
}

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Light.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Light.woff') format('woff'); 
}

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Regular.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Medium.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Medium.woff') format('woff'); 
}

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Bold.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Bold.woff') format('woff'); 
}

@font-face {
  font-family: 'Tokkel';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/tokkel/Tokkel-17-220412-Black.woff2') format('woff2'), 
       url('../fonts/tokkel/Tokkel-17-220412-Black.woff') format('woff'); 
}


/*-------------------------------------------------------- 
 * Fonts - Lokke
 * -------------------------------------------------------- */

// lokke regular - latin
@font-face {
  font-family: 'Lokke';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lokke/Lokke-Regular.woff2') format('woff2'), 
       url('../fonts/lokke/Lokke-Regular.woff') format('woff'); 
}


/*-------------------------------------------------------- 
 * Fonts - Zaha
 * -------------------------------------------------------- */

// Zaha bold - latin
@font-face {
  font-family: 'Zaha';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/zaha/Zaha-Bold.woff2') format('woff2'), 
       url('../fonts/zaha/Zaha-Bold.woff') format('woff'); 
}
