/**
 * ---------------------------------
 * Fonts
 * --------------------------------- */

.fonts .typeface {
	padding: calc(var(--base) / 2) 0;
	text-align: center;
}

.typeface img {
	//margin: 0 auto;
}

.module__free {
	padding: var(--base) 0;
}

.module__free header {
	margin-bottom: calc(var(--base) / 2);
}

.module__free figure {
	margin-bottom: 1em;
}

.module__free p {
	padding-bottom: 0;
}

/* Wider viewport
 * --------------------------------- */

@media screen and ( min-width: 37.50em ) {

	.module__free {
		display: grid;
		grid-template-columns: 15em repeat(3, 1fr);
		grid-template-areas: "heading font font font";
		grid-column-gap: 1em;
		grid-row-gap: var(--base);
	}
	
	.module__free header {
		grid-area: heading;
		padding-right: 2em;
	}
	
	.module__free .free {
		grid-area: font;
		grid-row: auto;
		grid-column: span 1;
		text-align: left;
	}
}