/**
 * ---------------------------------
 * Page
 * --------------------------------- */


.page .site__main {
	max-width: 60ch;
	margin: var(--base) auto;
}

.page .site__main h1 {
	padding-bottom: calc(var(--base) / 3);
}

.page .extract {
	padding: calc(var(--base) / 2) 0;
	
}

.page .extract:hover .link {
	color: var(--col-text-hover);
}
