/*
 * On page navigation
 * ------------------------------------------------------------- */

.page__navigation {
    margin: var(--base) 0 ;
    padding: calc(var(--base) / 4) 0;
    border-bottom: 1px solid var(--col-border);
}


.page__navigation ul li a:hover { border-bottom: 1px solid var(--col-text); }

@media screen and ( max-width: 47.99em ) { 

    .page__navigation h1 { margin-bottom: calc(var(--base) / 3); }
    .page__navigation ul li { @include list-with-stripes(); } 

}


@media screen and ( min-width: 48em ) {
    
    .page__navigation,
    .page__navigation ul {
        display: flex;
        justify-content: space-between;
    }
    
    .page__navigation ul li {
        padding-left: var(--base);
    }
}

/* Specimen block
 * ------------------------------------------------------------- */


.specimen__text h3 {
    @include font-size(16);
    color: var(--col-text-light);
    padding-bottom: calc(var(--base) / 6);
}

.text--wide {
    grid-column: 1 / -1;
    text-align: center;
}

.text--wide p {
    @include font-size(36);
    line-height: 1.2;
}

.fittext { width: 100%; }


@media screen and ( min-width: 48em ) {

    .specimen__text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--base);
    }

    .text--wide p { @include font-size(72); }
}

/* Info block
 * ------------------------------------------------------------- */


@media screen and ( min-width: 37.50em ) {
    
    .info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: var(--base);
    }
    
    .info__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--base);
    }
        
    .info__details article:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / -99;
    }
}


