/**
 * -------------------------------------------------------------
 * About
 * ------------------------------------------------------------- */

.module__about {
	margin: var(--base) 0;
}

.module__about p {
	max-width: 51ch;
}


/* Wider viewport
 * ------------------------------------------------------------- */

	@media screen and ( min-width: 37.50em ) {
	
	.module__about {
		display: grid;
		grid-template-columns: 15em 3fr;
		grid-column-gap: 1em;
	}

}