/**
 * -------------------------------------------------------------
 * Gallery
 * ------------------------------------------------------------- */

.module__gallery {
	margin: calc(var(--base) / 2) 0;
}

.scrolling {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: auto;
	/*height: 15em;*/
	padding-bottom: 0.5em;
}

/* Wider viewport
 * ------------------------------------------------------------- */

@media screen and ( min-width: 37.5em ) {
	
	.module__gallery {
		margin-bottom: var(--base);
	}
	
	.module__gallery .scrolling {
		height: 33.75em;
	}
	
}


/* Horizontal scrollbar 
 * ------------------------------------------------------------- */
	         
.scrolling::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
	      
.scrolling::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px var(--col-border) !important; 
    background: var(--col-border); 
} // The track
	
.scrolling::-webkit-scrollbar-thumb { background: var(--col-text); } // The handle
.scrolling::-webkit-scrollbar-thumb:hover { background: var(--col-text-light); } // The handle on hover
.scrolling::-webkit-scrollbar:vertical { display: none; }
