/**
 * -------------------------------------------------------------
 * Hero
 * ------------------------------------------------------------- */

.module__hero {
	margin-top: calc(var(--base) / 3);
}

.module__hero .scrolling a {
	min-width: 100%;
}


.module__hero .scrolling a figure figcaption {
    padding: 0.375em;
    text-align: center;
}