/**
 * ---------------------------------
 * Specifications
 * Wider viewport
 * --------------------------------- */

@media screen and ( min-width: 37.50em ) {

	.module__specifications {
		display: grid;
		grid-template-columns: 15em 4fr;
		grid-column-gap: 1em;
	}
	
	.module__specifications div {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1em;
		grid-row-gap: var(--base);
	}
	
}
