/**
 * ---------------------------------
 * Styles
 * --------------------------------- */

.module__styles { margin-bottom: var(--base); }
.module__styles figure { margin-bottom: calc(var(--base) / 4); }

/*
.module__styles figcaption {
	border-top: 1px solid var(--col-border);
}
*/


/* Wider viewport
 * --------------------------------- */

@media screen and ( min-width: 37.50em ) {

	.module__styles {
		display: grid;
		grid-template-columns: 15em 4fr;
		grid-template-areas: "heading features";
		grid-column-gap: 1em;
		grid-row-gap: var(--base);
	}
	
	.module__styles h2 {
		grid-area: heading;
	}
	
	
	
	.module__styles div {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
		//grid-template-columns: repeat(3, 1fr);
		/*grid-auto-rows: minmax(2em, auto);*/
		grid-column-gap: 1em;
		grid-row-gap: 2.5em;
		
		grid-area: features;
		grid-row: auto;
		grid-auto-flow: dense;
	}
	

}

.module__styles div figure {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}