/**
 * ---------------------------------
 * Typetester try
 * --------------------------------- */

.module__try .try {
	padding-bottom: calc(var(--base) / 2);
}


.try__options {
	padding-bottom: calc(var(--base) / 4);
	display: flex;
}


.try__options .feature {
	margin-top: 0;
	padding-top: 0;
}

.try__options .fontSize label {
	@include font-size(16);
	color: var(--col-text-light);
}

.try__options .selectAlignment {
	display: flex;
	justify-content: flex-end;
}

.try__options .selectAlignment button {
	margin-left: calc(var(--base)/4);
}

.try__text p {
    font-weight: 400;
    font-style: normal;
    @include font-size(36);
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}


/* Narrow viewport
 * --------------------------------- */

@media screen and ( max-width: 37.49em ) { 

	.try__options {
		flex-wrap: wrap;
	}
    .try__options .feature {
		flex: 0 0 100%;
		margin-bottom: 0.5em;
	}
    
	input[type=range] { padding: 0; }
}

   
/* Wider viewports
 * --------------------------------- */

@media screen and ( min-width: 45em ) { 
    
	.module__try .try {
		padding-bottom: var(--base);
	}
	
	.try__options {
		justify-content: center;
		align-items: center;
	}
	
	.try__options > * {
		margin: 0 calc(var(--base) /2);
	}
	
	.try__text p { 
		@include font-size(72); 
	} 

}

@media screen and ( min-width: 75em ) { 
    
	.try__text p { 
		@include font-size(125); 
	} 

}
