
/*
.bg-hover.apium:hover { color: var(--col-text-reverse); }
.bg-hover.apium:hover::after { background-color: var(--col-red); }
.bg-hover.apium:hover::after { background-image: url(../../fonts/apium/images/apium.svg); }
*/

/* Wider viewport
 * ------------------------------------------------------------- */

@media screen and ( min-width: 37.5em ) {

	.teaser.apium a > *:not(figure) { grid-row: 2/4; }
	.teaser.apium header { grid-column: 1/2; }
	.teaser.apium .teaser__main { grid-column: 2/5; }
	.teaser.apium .teaser__additional { grid-column: 5/8; }

	.teaser.apium figure {
		grid-column: 3/5;
		grid-row: 1/3;
	}
}



